// Inputs
$input-height:              28px;
$input-height-lg:           30px;

// Toolbars
$toolbar-height : 28px;
$toolbar-sep : 15px;
$toolbar-extra-sep : 25px;
$toolbar-item-sep : 5px;
$toolbar-item-extra-sep : 15px;

// Layout
$header-height:                 60px;
$footer-height:                 35px;
$sidebar-width:                 200px;
$app-logo-width:                200px;

$loading-height : 110px;
$loading-width : 220px;

// Menu Bar
$menu-height:                   41px;
$search-height:                 30px;

// Modals
$modal-width:			  	  480px;


