@import './colors';

$plain:  'Roboto', serif;
$brand:  'Catamaran', serif;
$styled:  'Muli', serif;

// Dimensions
$header-height:                 60px;
$footer-height:                 35px;
$sidebar-width:                 200px;
$app-logo-width:                200px;
$menu-height:             		41px;
$search-height:           		30px;

$input-height:				28px;
$input-height-lg:			30px;