@import './helpers/variables';
@import './helpers/mixins';
@import './alert_sweet';

$alert-yellow-background:           rgba(252, 234, 134, 0.14);
$alert-red-background:              rgba(244, 67, 54, 0.05);

.alert-control {

}
.alert-container {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1px;
}
.warning-container{
	background-color: $alert-yellow-background;
	border: 1px solid $yellow;
}
.error-container{
  background-color: $alert-red-background;
  border: 1px solid $red;
}
.modal-notification{
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 1px;
  padding: 7px;
  background-color: $alert-yellow-background;
  border: 1px solid $yellow;

  .notification {
    font-weight: 400 !important;
    font-size: 11px !important;
    font-family: $styled;
    color: black;
  }
  .sub-notification {
    margin-top: 2px;
    font-weight: 300 !important;
    font-size: 11px !important;
    font-family: $styled;
    color: $primary-color;
  }
}

.message {
  font-weight: 400 !important;
  font-size: 11px !important;
  font-family: $styled;
  color: $primary-color;
}

.error-message{
  font-weight: bold !important;
  font-size: 10px;
  color: $red;
  font-family: $styled;
}

/*Bootstrap Alerts*/
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}