@import './helpers/variables';
@import './helpers/mixins';
@import '../elements/button_functions';

.swal2-icon{
  margin: 1.25em auto 1em !important;

  &.swal2-success{
    border-color: $green !important;

    .swal2-success-ring {
      border: 0.25em solid $green !important;
    }
    .swal2-success-line-tip{
      background-color: $green !important;
    }
    .swal2-success-line-long{
      background-color: $green !important;
    }
  }
}

.swal2-title {
    color: $primary-color !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.swal2-content {
    color: $secondary-color !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.swal2-popup .swal2-styled:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

button {
  &.swal2-confirm{
    border: 1px solid transparent !important;
    background-color: button_color(primary) !important;
    color: button_text(primary) !important;
  }
  &.swal2-cancel{
    border: 1px solid transparent !important;
    background-color: button_color(def) !important;
    color: button_text(def) !important;
  }
}
