@import './helpers/variables';
@import './helpers/mixins';

.logout-form {
  @extend .zero-spacing;
}
.logout-form-panel-title{
    background: lighten($blue, 10%) !important;
    font-family: $styled;
    color: $offwhite;

    padding: 10px 8px 10px 8px !important;
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 12px !important;
    display: flex;
}
.logout-button-container {
    padding: 10px;
    margin-top: 0 !important;
}
.logout-form-panel-body{
  padding: 10px;
}
.logout-form-image{
  width: 100%;
  height: 100%;
  border-radius: 999px;
  opacity: 1;
  backface-visibility: hidden;
}
.logout-user{
  color: $primary-color;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 120px;
  font-size: 12px;
}
.logout-email{
  color: $secondary-color !important;
  font-weight: 300;
  word-wrap: break-word;
  max-width: 120px;
  font-size: 11px;
}
.logout-form-image-container{
  width: 50px;
  height: 50px;
  min-width: 50px;
}
.logout-form-info-container{
  flex-grow: 100;
  padding-left: 12px;
  padding-top: 2px;
  overflow-wrap: break-word;
}

