@import './helpers/variables';
@import './helpers/mixins';
@import './ReactTable';

table {
    @extend .smooth-font;
    font-family: $plain !important;
    border-color: $table-border-color;
    margin-bottom: 0px !important;
    border-collapse: collapse;
    font-weight: inherit;
}
tbody,
tfoot,
thead,
tr,
th,
td {
    font-weight: inherit;
}
thead {
    color: $primary-color;
    text-transform: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
tbody tr.active td {
    background-color: rgba(85, 176, 251, 0.4) !important;
}
table thead tr th,
thead tr td {
    @extend .elllipsis-overflow;
    color: $primary-color;
    font-family: $styled;
    font-weight: 400;
    text-align: center;
    border-top: none !important;
    border-bottom: none !important;
}
table tbody tr td {
    @extend .elllipsis-overflow;
    font-weight: 300;
    color: $primary-color;
}
.table-hover>tbody>tr:hover {
    background-color: $table-cell-hover-color;
}
.table thead tr th,
thead tr td {
    line-height: 14px !important;
    font-size: 12px !important;
}

.table tbody tr td {
    font-size: 12px;
    line-height: 25px !important;
    padding-top: 4px;
    padding-bottom: 4px;
}
.table-condensed tbody tr td {
    font-size: 10px;
    line-height: 10px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-condensed thead tr th,
thead tr td {
    font-size: 11px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}
.table-condensed thead tr th {
    line-height: 25px !important;
}

.value-cell {
    text-align: center;
}
.overflow-cell {
    @extend .elllipsis-overflow;
}
.center-cell {
    text-align: center;
}
.react-table-condensed .rt-td {
    font-size: 11px !important;
    line-height: 19px !important;
    padding-top: 2.5px !important;
    padding-bottom: 2.5px !important;
}
.react-table-condensed .rt-tr-group {
    max-height: 25px !important;
    min-height: 25px !important;
}

.manager-comparison-remove-link {
    line-height: 18px !important;
}

.returns-table {
    padding: 0px !important;
    width: 100% !important;
    table-layout: fixed;
    font-size: 10px;
}
.returns-table thead tr th {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-bottom: 6px;

    text-transform: none !important;
    text-align: center !important;
    border-top: none !important;
    border-bottom: none !important;
  
    line-height: 22px !important;
}

.returns-table tbody tr td {
    @extend .elllipsis-overflow;
    @include padding($vertical: 5px !important);
    
    border: $basic-border;
    text-align: center;
}

.returns-table tbody tr td:first-child {
    color: $primary-color;
    font-weight: 400 !important;
    text-align: center;
    font-size: 11px;
    line-height: 12px;

    border-left: none !important;
    border-bottom: none !important;
    border-top: none !important;
}

.return-table-cell-wrap {
    overflow: hidden;
    height: 10px;
}
.returns-table tbody tr td:first-child:hover~td {
    background-color: $table-cell-hover-color;
}
.returns-table tr td:nth-child(2) {
    border-left: $basic-border;
}
.returns-table tr:nth-child(even) td.return-cell:nth-child(odd) {
    background-color: $table-cell-alternate-color;
}
.returns-table tr:nth-child(odd) td.return-cell:nth-child(even) {
    background-color: $table-cell-alternate-color;
}
.returns-table td.nocolor {
    background-color: transparent !important;
}
.returns-table td:hover,
.returns-table td:focus,
.returns-table td.hovered {
    background-color: $table-cell-hover-color;
}
.in_range_cell {
    background-color: $table-cell-tint-color;
}
.positive_return {
    color: $positive-color !important;
}
.negative_return {
    color: $negative-color !important;
}
