@import './helpers/variables';
@import './helpers/mixins';

$toolbar-height : 28px;
$toolbar-sep : 15px;
$toolbar-extra-sep : 25px;
$toolbar-item-sep : 5px;
$toolbar-item-extra-sep : 15px;

.btn-toolbar {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    max-height: $toolbar-height;
    min-height: $toolbar-height;

    &:not(:first-child){
        margin-left: $toolbar-sep;
    }
    &:not(:last-child){
        margin-right: $toolbar-sep;
    }
    &.base-toolbar{
        margin-left: 0px  !important;
        margin-right: 0px !important;
    }
}

.date-toolbar {
    display: flex;
    max-height: $toolbar-height;
    min-height: $toolbar-height;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-toolbar-extra{
    @extend .btn-toolbar;
    &:not(:first-child){
        margin-left: $toolbar-extra-sep !important;
    }
    &:not(:last-child){
        margin-right: $toolbar-extra-sep !important;
    }
}

.btn-toolbar .toolbar-item-group {
    display: flex;
    &:not(:first-child){
        margin-left: $toolbar-item-sep;
    }
    &:not(:last-child){
        margin-right: $toolbar-item-sep;
    }
}

.btn-toolbar .toolbar-item-group-extra {
    display: flex;
    &:not(:first-child){
        margin-left: $toolbar-item-extra-sep;
    }
    &:not(:last-child){
        margin-right: $toolbar-item-extra-sep;
    }
}

.toolbar-form-group{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    max-height: $toolbar-height;
    min-height: $toolbar-height;
}
.toolbar-checkbox-form-group{
    @extend .toolbar-form-group;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}
.select-item-group{
    flex-grow: 100;
}

.toolbar-text-container{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;

    .toolbar-label{
        font-size: 12px;
        color: #2f2f2f;
        font-weight: 300 !important;
        line-height: 16px;
        margin-right: 10px;
    }
    .toolbar-text{
        font-size: 12px;
        color: #2f2f2f;
        font-weight: 400 !important;
        line-height: 16px;
    }
}   

