.query-table-container{
	display: flex;
	width: 100%;
	flex-direction: column;
}
.query-table-table-container{
	max-height: calc(100% - 26px);
	overflow-y: hidden;
	display: flex;
	width: 100%;
	flex-direction: column;
}