.menu-bar {
    display: flex;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f8f8f8;
    border-color: var(--border-color);
    z-index: 10000;
}
.manager-search{
    max-height: 30px;
    min-height: 30px;
}
.menu-navigation{
	display: flex;
	margin-left: 18px;
}
.menu-search-navigation{
    display: flex;
    flex-grow: 100;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-bar-link{
	line-height: 20px !important;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
	color: #777 !important;
	font-weight: normal;
	font-size: 13px !important;
	font-family: var(--styled);
}
.menu-bar-link:hover, .menu-bar-link:focus {
    color: #333 !important;
    background-color: transparent;
} 
.menu-bar-link .caret{
	margin-left: 15px;
}
.menu-icon{
	margin-right: 14px;
}
