.error{
    color: var(--primary-color);
    border: 1px solid rgba(255, 87, 35, 0.55);
    border-radius: 1px;
    background-color: rgba(255, 200, 196, 0.15);
    font-size: 12px;
    line-height: 14px;
    padding: 8px !important;
    font-weight: 400;
}
.warning{
    border: 1px solid var(--yellow);
    background-color: rgba(255, 231, 98, 0.14);
    color: black;
    font-size: 12px;
    line-height: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
}