@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');

@import './base/reset';
@import './base/bootstrap';
@import './base/typography';
@import './base/animation';

@import './components/alert';
@import './components/loading';
@import './components/nav';
@import './components/menu';
@import './components/modal';
@import './components/search';
@import './components/CodeMirror';
@import './components/sidebar';
@import './components/tables';
@import './components/logout';
@import './components/login';
@import './components/toolbar';
@import './components/chart';

@import './elements/tooltip';
@import './elements/links';
@import './elements/dropdown';
@import './elements/buttons';
@import './elements/forms';
@import './elements/input';

@import './layout/footer';
@import './layout/header';
@import './layout/panel';
@import './layout/layout';

@import './helpers/extend';
@import './helpers/variables';
@import './helpers/mixins';

html, body {
    @extend .zero-padding;
    @extend .zero-margin;
    @extend .smooth-font;

    font-family: $plain;
    min-height: 100%;
    height: 100%;
    overflow: auto;
    font-size: 10px;
    outline: 0;
}




