.flex{
	display: flex !important;
}

.flex-grow{
	flex-grow: 100;
}
.float-r{
	float : right;
}
.marginTop20{
	margin-top: 20px;
}
.marginTop10{
	margin-top: 10px;
}
.marginBottom20{
	margin-bottom: 20px;
}
.marginBottom10{
	margin-bottom: 10px;
}