@import './helpers/variables';
@import './helpers/mixins';

footer {
    @extend .zero-margin;
    @include padding($top:5px, $bottom:5px, $left:10px, $right:10px);

    background-color: $footer-background;
    max-height: $footer-height;

    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}

footer .footer-content {
  @extend .zero-spacing;
  @include font($font-family: $styled, $font-weight: 400, $font-size: 12px, $line-height: 25px);
  color: $offwhite;
}