@import './helpers/variables';
@import './helpers/mixins';

header {
    position: fixed;
    z-index: 900;
    top: 0;
    width: 100%;
    height: $header-height;
}

.page-header {
	display: flex;

	.page-header-item:not(:first-child){
		margin-left: 10px;
	}
	.page-header-item:not(:last-child){
		margin-right: 10px;
	}
}

.header-box{
	border: 1px solid $border-color;
	height: $input-height-lg;
	display: flex;
	background-color: #FFF;
	
	.title{
		font-size: 13px;
		line-height: 16px;
		font-family: $styled !important;
    	color: lighten($primary-color, 5%);
		font-weight: 400;
		padding-left: 8px;
		padding-top: 6px;
    	padding-bottom: 6px;

    	&.placeholder{
    		font-weight: 300 !important;
    		color: lighten($primary-color, 25%);
    	}
    }
	.subtitle{
		font-family: $plain;
	    color: $blue;
	    font-size: 12px;
	    line-height: 16px;
	    font-weight: 300 !important;
	    margin-left: 10px;
	    padding-top: 6px;
    	padding-bottom: 6px;
	}
}
.subtitle::before{
    content:"(";
}
.subtitle::after{
    content:")";
}

.header-container{
    width: 100%;
    margin-bottom: 10px;
}
.manager-header-panel {
	@extend .panel;
	margin-top: 0px !important;
    display: flex;
    padding-bottom: 6px !important;
}
.header-title-container{
   padding: 2px;
}


