@import './helpers/variables';
@import './helpers/mixins';

.panel {
	box-shadow: $panel-shadow;
	background-color: $panel-background;
	border: $panel-border;
	border-radius: 1px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0.5px;
}
.panel-body{
	padding: 5px;
}
.chart-panel-body {
    padding: 15px;
}
.panel-header{
	width: 100%;
	background-color: $panel-header-background;
	border-bottom: $panel-border;

	.title{
		font-size: 12px;
		line-height: 14px;
		font-family: $styled !important;
    	color: #5e5d5f;
		font-weight: 400;
		padding: 7px 8px;
    }
	.subtitle{
		font-family: $plain;
	    color: $blue;
	    font-size: 11px;
	    line-height: 14px;
	    font-weight: 300 !important;
	    padding: 7px 8px;
	}
}
.panel-collapse-link{
	line-height: 14px;
	border-left: $panel-border;
	font-size: 14px;
	width: 28px;
	padding: 7px 8px;
}
.panel-collapse-link-icon {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    width: 14px;
    text-align: center;
    position:relative;
    top: 1px;
}
.chart-panel {
	padding: 15px;
}
.blank-panel {
    padding: 5px;
    margin-top: 0px;
    width: 100%;
}
/* Used When We Make Manager Header Have Fixed Position */
.content-under-header {

}