input {
    font-family: var(--plain) !important;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 14px;
    font-size: 12px !important;

    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;

    border-radius: 1px;
    border: 0.1rem solid rgba(160,160,160,0.5);
}

input[type='text'],
input[type='password'],
input[type='button'] {
    padding-left: 10px;
    background: #fff;
    width: 100%;
    margin-bottom:0px;
}

input[type='email'] {
    padding-left: 10px !important;
    width: 100%;
}

input[type="file"] {
    display: none;
}

input[type="text"]{
    max-height: 30px;
    font-family: var(--styled) !important;
    border-radius: 0px !important;
}

select {
    border: 0.1rem solid rgba(160,160,160,0.5);
    border-radius: 1px !important;
    background-color: #fff;

    height: 28px;
    margin: 0;
    padding-left: 10px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;

    line-height: 14px;
    font-size: 12px !important;
    
    width: 100%;
    font-family: var(--plain);
    text-shadow: none !important;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
/*    -webkit-appearance: none;*/
    -moz-appearance: none;
}

input[type='checkbox'] {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 20px;
    margin: 0;
    position: relative;
    top: 3px;
}
