a {
    text-decoration: none;
    text-shadow: none !important;
    color: var(--blue);
}
a:hover,
a:focus {
    text-decoration: none !important;
    cursor: pointer !important;
    color: var(--red);
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
a.table-link {
    color: var(--base-color-text);
    font-weight: 300 !important;
    font-family: var(--styled) !important;
    font-size: 12px !important; 
    line-height: 12px !important; 
}
a.table-link:hover,
a.table-link:focus {
    color: var(--red) !important;
    cursor: pointer !important;
}
a.link {
    color: var(--base-color-text);
    font-weight: 300 !important;
    font-family: var(--styled) !important;
    font-size: 12px !important; 
    line-height: 12px !important; 
}
a.link:hover,
a.link:focus {
    color: var(--red) !important;
    cursor: pointer !important;
}
a.icon-link{
  color: var(--base-color-alpha);
  font-weight: 300 !important;
  line-height: 12px !important; 
}
a.icon-link:hover,
a.icon-link:focus {
    color: var(--red) !important;
    cursor: pointer !important;
}
a.hide-show-link {
    color: var(--base-color-text);
    font-weight: 300 !important;
    font-family: var(--styled) !important;
    font-size: 12px !important; 
    line-height: 12px !important; 
}

a.hide-show-link:hover,
a.hide-show-link:focus {
    color: var(--red) !important;
    cursor: pointer !important;
}
.unlock {
  font-size: 12px !important;
  font-family: var(--styled) !important;
  color: var(--red);
  line-height: 16px !important;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 10px;
}

.unlock:hover {
  color: #aeafb0 !important;
}

.save {
  font-size: 12px !important;
  font-family: var(--styled) !important;
  color: var(--green);
  line-height: 16px !important;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 10px;
}

.save:hover {
  color: #aeafb0 !important;
}