p {
    color: var(--primary-color);
    font-size: 12px;
    font-family: var(--plain) !important;
    font-weight: 300 !important;
    text-shadow: none !important;
    line-height: 1.3;
    margin-bottom: 0px;
}

.emphasis {
    color: black !important;
    font-weight: 400 !important;
}
.dark-text{
    color: var(--primary-color) !important;
}
.black-text{
    color: black !important;
}
.light-text{
    color: var(--secondary-color) !important;
}
.blue-text{
    color: var(--blue) !important;
}
.heavy {
    font-weight: 400 !important;
}
.light{
    font-weight: 300 !important;
}
.x-small {
    font-size: 10px !important;
}
.small {
    font-size: 11px !important;
}
.medium{
    font-size: 12px !important;
}
.large {
    font-size: 14px !important;
}
.detail{
    font-size: 11px;
    font-family: var(--styled) !important;
    margin-top: 5px !important;
    font-weight: 400 !important;
    color: var(--base-color-text) !important;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.3rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.25rem;
}

h5 {
    font-size: .8125rem;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    font-family: var(--styled) !important;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    color: var(--secondary-color);
}
h4.modal-header-text {
    font-size: 14px;
    vertical-align: middle;
    padding: 4px 0;
}
.modal-header {
    padding: 12px;
}

label {
    font-weight: 400;
    font-family: var(--styled) !important;
    font-size: 12px;
    color: black;
    margin-bottom: 0px !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: none !important;
}
.label {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle !important;
    border-radius: .25em;
    padding: .3em .6em .4em .5em;
}
.radio-label{
    font-family: var(--plain) !important;
    font-weight: 300;
    font-size: 12px;
    color: black;
}
.csv-radio {
    margin-right: 40px;
    margin-top: 5px;
    box-shadow: none;
}
.form-group {
  margin-bottom: 5px !important;
}



