/*Bootstrap Overrides for Button Toolbars*/
.btn-toolbar {
    margin-left: 0px !important; 
    display: flex;
    margin-bottom: -1px;
}
.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
     margin-left: 0px !important; 
}

.checkbox-toolbar-group{
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
/*Bootstrap Overrides*/
.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}
