@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/extend';
@import './helpers/functions';
@import './button_functions';

.btn{
    @extend .no-select;
    @extend .no-shadow;
    @extend .zero-margin;

    @include padding($horizontal: 12px, $vertical: 7px)
    @include font($font-size: 12px, $line-height: 12px, $font-weight: 400, $font-family: $styled)
  
    color: button_text(def);
    cursor: pointer;

    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .2rem;
}

.flush {
  border-bottom: 1px solid transparent !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.straight {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.separated:not(:first-child){
  margin-left: 5px !important;
}
.separated:not(:last-child){
  margin-right: 5px !important;
}

.btn-primary{
  @extend .btn;
  background-color: button_color(primary);
  color: button_text(primary);
  &:hover, &:focus, &.active{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }
}
.btn-primary:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.btn-default{
    @extend .btn;
    background-color: button_color(def);
    color: button_text(def);
    border: 1px solid $border-color;

    &:hover, &:focus, &.active{
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
}

.toolbar-btn {
    @extend .btn;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 6px;

    font-family: $plain !important;
    font-size: 11px;

    border: $basic-border;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: button_text(empty, base);
    
    &:hover, &:focus{
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
}

.chart-toolbar-btn{
    @extend .btn;
    margin: 0px 5px !important;

    &.active, &:active{
      color: $offwhite;
      background-color: lighten($blue, 5%);
      border: 1px solid transparent !important;
    }
}
.chart-toolbar-btn:first-child{
    margin-left: 0px !important;
}
.chart-toolbar-btn:last-child{
    margin-right: 0px !important;
}

.toolbar-dropdown-btn {
    @extend .btn;
    font-family: $plain !important;
    font-size: 11px;
    border-radius: 1px;
}
.toolbar-btn-icon{
    margin-right: 10px;
}
.nav-bar-btn {
    @extend .btn;
    border: none !important;
    line-height: 12px !important;
    border-radius: 1px !important;
    height: 28px !important;
}
.nav-bar-btn-caret {
    margin-left: 8px !important;
    position:relative;
    top: -1.5px
}
.nav-login-btn {
    @extend .btn;
    border: none !important;
    background-color: set_color(def, base) !important;
    color: $blue !important;
    &:hover, &:focus, &.active{
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
}

.btn-cancel {
  background-color: button_color(def);
  color: button_text(def);
  &:hover, &:focus, &.active{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }
}

.back-button {
  @extend .btn;
  @include padding($vertical: 5px, $horizontal: 8px);

  background: button_color(def, light);
  color: button_text(def);

  height: $search-height;
  border: $basic-border !important;
  border-right: none !important;
  border-radius: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover, &:focus, &.active{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }
}
.back-button-icon{
  font-size: 12px;
}
.login-button-submit {
    @extend .btn-primary;
}
.logout-button-submit{
    @extend .btn-primary;
    width: 100%;
}
