$light-opacity:       0.2;
$dark-factor:         10%;
$light-factor:        10%;

@function button_text($scheme, $tint : base){
   @if $scheme == empty {
      @if $tint == base {
        @return lighten($primary-color, 5%)
      } @else {
          @if $tint == dark {
            @return $primary-color;
          }
      }
   }
   @if $scheme == primary {
      @if $tint == base {
        @return $offwhite;
      } @else {
          @if $tint == light {
            @return $offwhite;
          }
          @else {
            @return $offwhite;
          }
      }
    }
    @if $scheme == def {
      @if $tint == base {
        @return $primary-color;
      } @else {
        @if $tint == light {
          @return transparentize($primary-color, $light-opacity);
        }
        @else {
          @return darken($primary-color, $dark-factor);
        }
      }
    }
}

@function button_color($scheme, $tint : base){
  @if $scheme == empty {
    @if $tint == base {
      @return $offwhite;
    } @else {
        @if $tint == dark {
          @return darken($offwhite, $dark-factor);
        }
    }
  }
  @if $scheme == primary {
    @if $tint == base {
      @return lighten($blue, $light-factor);
    } @else {
        @if $tint == light {
          @return transparentize($blue, $light-opacity);
        }
        @else {
          @return darken($blue, $dark-factor);
        }
    }
  }
  @if $scheme == def {
    @if $tint == text {
      @return $primary-color;
    }
    @if $tint == base {
      @return $default-color;
    } @else {
      @if $tint == light {
        @return transparentize($default-color, $light-opacity);
      }
      @else {
        @return darken($default-color, $dark-factor);
      }
    }
  }
}
