@import './helpers/variables';
@import './helpers/mixins';

input{
    @extend .zero-margin;
    @extend .white-background;
    @extend .smooth-font;
    @extend .no-shadow;

    @include padding($vertical: 6px, $horizontal: 10px)

    border: $thin-border;
    border-radius: 0px !important;
    font-family: $styled !important;
    color: black;

    line-height: 14px;
    font-weight: 400;
    font-size: 12px !important;
    height: 30px !important;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-appearance: none;
}

input[type='text'],
input[type='number'],
input[type='password']{
    width: 100%;
    font-weight: 300;
    line-height: 30px;
    color: black;
}
input[type='email'] {
    padding-left: 10px !important;
    width: 100%;
}
input[type="file"] {
    display: none;
}
select {
    @extend input;
    
    border-radius: 0px !important;
    height: 28px !important;
    line-height: 14px;
    font-weight: 300 !important;
    font-family: $plain;    
    padding-left: 10px !important;
    width: 100%;  
}

input[type='checkbox'] {
    height: 15px !important;
    padding-left: 5px;
    padding-right: 5px;
    width: 15px;
    margin: 0;
    position: relative;
}
.radio input[type="radio"], .radio select[type="radio"], .radio-inline input[type="radio"], .radio-inline select[type="radio"], .checkbox input[type="checkbox"], .checkbox select[type="checkbox"], .checkbox-inline input[type="checkbox"], .checkbox-inline select[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
}

.input-group-addon {
  padding: 6px 9px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: $input-group-addon-icon-color;
  text-align: center;
  background-color: $input-group-addon-background;
  border: 1px solid $border-color;
  border-radius: 0px;
}

.checkbox-inline{
    line-height: 15px !important;
}
.checkbox-inline:not(:first-child){
    margin-left: 10px;
}
.checkbox-inline:not(:last-child){
    margin-right: 10px;
}
.checkbox-label{
    line-height: 15px;
    font-size: 11px;
    font-family: $plain;
    color: $primary-color;
}
.month-picker{
    max-width: 150px;
    min-width: 150px;

    &.push-right{
        .rmp-popup {
            right: -150px;
        }
    }
}

.month-input{
    max-width: 120px;
    min-width: 120px;
    text-align: center;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}

.dropdown-checkbox {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

