a {
    text-decoration: none;
    text-shadow: none !important;
    font-family: $styled;
    color: $blue-alternate;
    font-weight: 400;
    font-size: 12px; 

    &:hover, &:focus {
        color: $medium-gray;
        text-decoration: none !important;
        cursor: pointer !important;
    }
    // Django Admin Link Style
    &.addlink, &.changelink {
        color: $blue !important;
        &:hover, &:focus {
            color: $medium-gray !important;
            text-decoration: none !important;
            cursor: pointer !important;
        }
    }
    &.disabled, &:disabled {
        pointer-events: none !important;
        cursor: default !important;
        color: rgba(0, 0, 0, 0.2) !important;
    }
    &.table-link {
        line-height: 19px;
        font-weight: 300 !important;
    }
    &.deletelink {
        color: #FFF !important;
    }
    &.nav-bar-link{
        color: #FFF !important;
        &:visited{
            color: #FFF !important;
        }
        &:hover, &:focus {
            color: #cacaca !important;
        }
    }
    &.gray-link{
        color: #999 !important;
        &:hover, &:focus {
            color: $blue-alternate;
        }
    }
}

