.ReactTable {
    border: 1px solid $light-border-color;
}

.ReactTable .-pagination {
    @include no-shadow();
    max-height: 35px;
    padding: 3px !important;
    border-top: $table-border !important;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;    
}
.ReactTable .rt-thead .rt-tr {
    text-align: center;
    padding: 1px;
}
.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
    -ms-flex: 1;
    flex: 1 1;
    text-align: center;
    height: 29px;
}
.ReactTable .-pagination .-btn {
    display: block;
    height: 100%;
    padding: 4px !important;

    line-height: 21px !important;
    font-size: 12px !important;
    height: 28px !important;
    font-family: $styled !important;
    font-weight: 300 !important;
    
    border: 0;
    border-radius: 1.5px !important;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);

    cursor: pointer;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.ReactTable .rt-th{
    padding: 1px;
}

.ReactTable .rt-th {
    background-color: white;
    border-top: none !important;
    border-bottom: none !important;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
    @include padding($vertical:4px)
    line-height: 12px;
    font-size: 11px;
    font-weight: 300 !important;
}

.ReactTable .rt-tbody .rt-td {
    border-right: none !important;
    font-weight: 300 !important;
    &.active{
        background-color: $yellow-fade !important;
    }
}

.ReactTable .rt-thead.-header {
    @include no-shadow();
    font-weight: 300 !important;
    border-bottom: $table-border !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
    @include no-shadow();
    font-weight: 300 !important;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    @include no-shadow();
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
    @include no-shadow();
   font-weight: 300 !important;
}

.ReactTable .-pagination .-pageInfo {
    display: inline-block;
    margin: 3px 10px;
    white-space: nowrap;
    font-size: 11px !important;
    color: black !important;
    font-weight: 300 !important;
}

.ReactTable .-pagination .-pageJump input {
    width: 50px !important;
    text-align: center;
    max-height: 28px;
    min-height: 28px;
}

.-pageJump{
    margin-left: 5px;
    margin-right: 5px;
    height: 28px;
}

.ReactTable .-pagination input, .ReactTable .-pagination select {
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    font-size: 11px !important;
    line-height: 12px !important;
    padding: 10px 8px;
    border-radius: 1px;
    font-weight: normal;
    outline: none;
}

.rt-tr .rt-td:not(:first-child){
    text-align: center;
}