p {
    @include zero-margin();
    @include smooth-font();
    color: $primary-color;
    font-family: $plain;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
}
.from-to{
    color: black;
    font-weight: 400;
    font-size: 12px;
    line-height:28px;
    margin-left:15px;
    margin-right:15px;
}
h1 {
    font-size: 1.8rem;
    line-height: 2.3rem;
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}
h4 {
    font-size: 1rem;
    line-height: 1.25rem;
}
h5 {
    font-size: .8125rem;
    text-transform: uppercase;
}
h1,
h2,
h3,
h4 {
    font-family: $styled !important;
    color: $secondary-color;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}
h4.modal-header-text {
    font-size: 14px;
    vertical-align: middle;
    padding: 4px 0;
}
label {
    @include smooth-font();
    font-weight: 400;
    font-family: $styled;
    color: $primary-color !important;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.label {
    color: $primary-color;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle !important;
    border-radius: .25em;
    padding: .3em .6em .3em .6em;
    font-size: 10px;
    margin-bottom: 5px;
    background-color: rgb(236, 236, 236) !important;
    font-weight: bold !important;
}

.radio-label{
    font-family: $plain !important;
    font-weight: 300;
    font-size: 12px;
    color: black;
}
.csv-radio {
    margin-right: 40px;
    margin-top: 5px;
    box-shadow: none;
}

