{% load i18n static %}

<form action="{{ app_path }}" method="post" id="login-form" >
	{% csrf_token %}
	<div class="form-vertical-input-group">
	  <label class="label form-vertical-label">Username</label>
	  <input type="text" name='username'/>
	</div>
	<div class="form-vertical-input-group">
	  <label class="label form-vertical-label">Password</label>
	  <input type="password" name='password'/>
	  <input type="hidden" name="next" value="{{ next }}">
	</div>

	{% url 'admin_password_reset' as password_reset_url %}
	{% if password_reset_url %}
	<div class="password-reset-link">
	  <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
	</div>
	{% endif %}

	<div class="login-button-container">
	  <button id="login-submit" class="btn btn-primary">Sign In</button>
	</div>
</form>