.data-page-container{
	display: flex;
	flex-direction: column;
}
.data-container{
	display:flex; 
	min-height: 50%;
	max-height: 60%;
}
.data-left-col {
	width: 50%;
	margin-right: 10px;
	display: flex;
}
.data-right-col {
	width: 50%;
	margin-left: 10px; 
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}
.query-table-menu-container{
}
.query-results-container {
	margin-top: 25px;
	width: 100%;
	flex-grow: 100;
	overflow-y: hidden;
}
.query-detail-container{
	height: 50px;
}
.query-field-container{
	flex-grow: 100;
	margin-left: 10px;
	display: flex;
	position: relative;
}
.query-sidebar-container{
	width: 80px;
}

.query-table-dropdown-button{
	border-radius: 0px !important;
}
.query-control-button{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 8px;
	width: calc(100% - 10px);
	font-size: 10px;
}
.query-control-icon{
	margin-left: 8px;
}