.user-menu {
    margin-top: 20px !important;
    border-radius: 0px !important;
    width: 220px !important;
    padding: 0px !important;

    background-color: rgba(255, 255, 255, 1.0) !important;
    color: white !important;
    box-shadow: -0.5px 0 0.5px rgba(0, 0, 0, 0.2) !important;
}
.user-form {
  margin: 0 !important;
}
.user-form-panel-title{
    padding: 10px 8px 10px 8px !important;
    background: var(--blue) !important;
    font-family: var(--styled);
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 12px !important;
    color: #FFF;
    display: flex;
}
.logout-button-container {
  padding: 10px;
}
.logout-button-submit{
  width: 100%;
  background-color: var(--blue) !important;
  color: #FFF !important;
  border-radius: 0px !important;
}
.user-form-panel-body{
  padding: 10px;
}

.user-form-image{
  width: 100%;
  height: 100%;
  border-radius: 999px;
  opacity: 1;
  backface-visibility: hidden;
}
.user-email{
  word-wrap: break-word;
  max-width: 120px;
}
.user-form-image-container{
  width: 50px;
  height: 50px;
  min-width: 50px;
}
.user-form-info-container{
  flex-grow: 100;
  padding-left: 12px;
  padding-top: 2px;
  overflow-wrap: break-word;
}

