.menu-navigation{
	display: flex;
	margin-left: 35px;
}
.menu-search-navigation{
    display: flex;
    flex-grow: 100;
    margin-right: 35px;
    margin-left: 15px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

.menu-bar-item{
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
}

.menu-bar-dropdown{
	margin-left: 12px;
	margin-right: 12px;
	text-align: left;
}

.menu-bar-dropdown-menu{
	display: block;
	position: absolute;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.menu-bar-link{
	line-height: 35px !important;
	color: #1d1e1f;
	font-weight: 400;
	font-size: 14px !important;
	font-family: var(--plain) !important;
}
.menu-bar-link .caret{
	margin-left: 15px;
}

.menu-icon{
	margin-right: 10px;
}

.menu-dropdown-item{
    display: block;
    width: 100%;
    clear: both;
}
.menu-dropdown-item-link{
	color: #1d1e1f;
	font-weight: 400;
	padding: 3px 1.5rem;
	background: 0 0;
    border: 0;
    white-space: nowrap;
    text-align: left;
    width: 100%;
}

.menu-dropdown-item:focus, .menu-dropdown-item:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}