.comparison-top-container{
	display:flex; 
	min-height: 40%;
	max-height: 400px;
	margin-top: 20px;
}
.comparison-top-container .left {
	width: 50%;
	margin-right: 10px;
	display: flex;
}
.comparison-top-container .right{
	width: 50%;
	margin-left: 10px; 
	display: flex;
}
.comparison-bottom-container {
	margin-top: 25px;
	width: 100%;
	margin-bottom: 100px;
}
.list-table-container{
	display: flex;
	width: 100%;
	flex-direction: column;
}
