.header-container {
    padding: 5px;
    /*For Now - Using Relative Positioning -> Keep on Page in Future */
    /*position: absolute;*/
    width: 100%;
    display: flex;
}
.header-title-container{
    max-width: 50%;
    min-width: 50%;
    background-color: var(--highlight);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.header-dates-container{
	flex-grow: 100;
}

.header-dates-right-container{
	float:right;
}