/*Custom Classes*/
.toolbar-container{
    height: 30px;
    display: flex;
    width: 100%;
}
/*Bootstrap Override*/
.btn-toolbar {
    width: 100%;
}

/*Custom Classes*/
.toolbar-dropdowns-container{
    height: 100%;
    display: flex;
}
.toolbar-controls-container {
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    bottom: 10px;
}
.toolbar-buttons-container{
    height: 100%;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
.toolbar-dropdown-container:not(:first-child), .toolbar-dropdown-container-small:not(:first-child){
    margin-left: 5px;
}
.toolbar-dropdown-container:not(:last-child), .toolbar-dropdown-container-small:not(:last-child){
    margin-right: 5px;
}
.toolbar-daterange-container {
    display: flex;
}
.toolbar-datepicker-container {
    margin-left: 5px;
    margin-right: 5px;
}
.toolbar-button-container, .toolbar-button-container-small{
    margin-left: 5px;
    margin-right: 5px;
}

.toolbar-button {
    line-height: 16px !important;
    background-color: #FFF !important;
    border: 1px solid var(--border-color) !important;
    border-bottom: none !important;

    padding-left: 14px !important;
    padding-right: 14px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.chart-toolbar-button {
    border: 1px solid var(--border-color) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    font-size: 11px !important;

    margin-top: 2px !important;
    margin-bottom: 2px !important;
    line-height: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.toolbar-dropdown-button {
    height: auto !important;
    line-height: 16px !important;
    border-bottom: none !important;

    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.toolbar-button-icon{
    margin-right: 5px;
}
.checkbox-toolbar-group{
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

